$mainColor: #bb0505;
$secondaryColor: #868686;
// basic colors
$whiteColor: #fff;
$softRed: #fc6d6d;

$width: 768px;

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
